<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" /> 
    <title>Correo de Activación de E-learning</title>
    <style>
        body {
            font-family: "Poppins", sans-serif;
            background-color: #F7B602;
            margin: 0;
            padding: 0;
            color: #000000;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #F7B602;
            border: 2px solid #000000;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            border-radius: 10px;
        }
        .email-wrapper {
            margin-bottom: 20px;
        }
        .email-header h1, .email-body p, .email-footer p, .message-sm p, .footer p, .footer a {
            color: #000000;
        }
        .email-header h1, .message-sm h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .email-body h2, .message-sm h1 {
            font-size: 20px;
            font-weight: bold;
            margin: 20px 0;
        }
        .image {
            margin-bottom: 20px;
            width: 140px;
            height: auto;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px 0;
            background-color: #000000;
            color: #FFFFFF;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="email-wrapper">
            <div class="email-header">
                <h1>¡Bienvenido a AruQhana!</h1>
                <img src="https://res.cloudinary.com/dfgjenml4/image/upload/v1716161299/c0fpzljz4xq6nvplovc7.png" alt="Clase" class="image" />
            </div>
            <div class="email-body">
                <h2>Hola <%= user.name %>,<h2/>
                <p>¡Estamos emocionados de tenerte a bordo! Para activar tu cuenta, por favor usa el siguiente código de activación:</p>
                <h2><%= activationCode %></h2>
                <p>Ingresa este código en la página de activación dentro de los próximos 5 minutos.</p>
            </div>
            <div class="email-footer">
                <p>Si tienes alguna pregunta, no dudes en contactarnos.</p>
            </div>
        </div>
    </div>
</body>
</html>
