<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
  <title>Inscripción Confirmada</title>
  <style>
    body {
      font-family: "Poppins", sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .container {      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #4f5ef1;
      color: #ffffff;
    }
    .message-sm {
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
    }
    .course-info {
      background-color: #fff;
      color: #000;
      padding: 20px;
      border-radius: 10px;
      margin: 20px auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .course-info h4 {
      color: #23bd70;
      text-align: center;
    }
    .footer {
      text-align: center;
      margin-top: 40px;
      color: #fff;
    }
    .footer p a {
      color: #fff;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="message-sm">
      <h1>¡Bienvenido a tu nueva aventura de aprendizaje!</h1>
      <p>Estamos muy felices de que te unas a nosotros.</p>
    </div>

    <div class="course-info">
      <h4>Detalles de tu inscripción:</h4>
      <p>Curso: <strong><%= course.name %></strong></p>

      <p>Duración: <strong><%= order.price %></strong></p>
    </div>

    <div class="footer">
      <p>
        Si tienes preguntas o necesitas ayuda, estamos aquí para ti en
        <a href="mailto:soporte@escuela.com">soporte@escuela.com</a>
      </p>
      <p>&copy; 2023 Escuela de Aprendizaje. Todos los derechos reservados.</p>
    </div>
  </div>
</body>
</html>






