<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nueva Notificación de Respuesta</title>
</head>
<body>
  <h1>Hola <%= name %>,</h1>
  <p>Se ha añadido una nueva respuesta a tu pregunta en el video "<%= title %>".</p>
  <p>Por favor, inicia sesión en nuestro sitio web para ver la respuesta y continuar la discusión.</p>
  <p>¡Gracias por ser parte de nuestra comunidad!</p>
</body>
</html>
